@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */
@font-face {
    font-family: 'favorit';
    src: url('../fonts/Favorit_Light.ttf');
  }

  @font-face {
    font-family: 'goodsans';
    src: url('../fonts/GoodSans-Light.otf');
  }

  @font-face {
    font-family: 'times';
    src: url('../fonts/TimesNow-SemiLightItalic.ttf');
  }

.hide {
    display: none;
}

.show:hover + .hide {
    display: inline;
}

/* main header style*/
.headerStyle {
    @apply font-goodsans text-5xl py-4;
}  

/* Respnsive Navigation */
.RespNavWrap {
    @apply z-40 flex md:hidden;
}

.toggleMenu {
    @apply z-40 w-full text-5xl bg-gradient-to-t from-white font-goodsans m-auto text-center pt-4 pb-4 fixed inset-x-0 bottom-0 md:hidden;
}

.RespNavbar {
    @apply z-40 absolute bg-white w-full text-5xl font-goodsans flex h-screen list-none capitalize; 
}

.RespOptions{
    @apply  flex flex-col my-auto pl-10 gap-4;
}

.RespClose {
    @apply fixed bottom-0 z-40 w-full text-center pb-4 text-5xl md:hidden;
}
/* Desktop Navigation */
.navWrap {
    @apply flex z-40 md:h-0;
}

.navbar {
    @apply hidden md:inline-flex z-40 m-auto gap-9 md:bg-gradient-to-t md:from-white py-4 md:fixed md:inset-x-0 md:bottom-0 w-full mx-0 px-4 md:flex-row justify-between list-none capitalize text-5xl font-goodsans;
}
.navbarPost {
    @apply hidden md:inline-flex z-40 m-auto gap-9 py-4 md:fixed md:inset-x-0 md:bottom-0 w-full mx-0 px-4 md:flex-row justify-between list-none capitalize text-5xl font-goodsans;
}
.active-link {
    @apply underline;
}

/* Components */


.videoStyle {
    @apply inline w-full;
}

.storyStyle {
    @apply w-full aspect-[9/16];
}


.tagsTitle {
    @apply pr-2 text-xs pt-2 font-favorit font-light;
}
.categoriesPost {
    @apply w-full justify-center flex flex-row text-xl font-times;
}

p.RoleStyle {
    @apply uppercase text-xl font-favorit font-light;
}

PersonStyle {
    @apply text-sm font-favorit font-light;
}


/* Work List Grid on home */
.workList {
    @apply grid grid-cols-1 md:px-10 md:pt-20 md:grid-cols-3;
}
.workListTitle {
    @apply text-sm font-goodsans py-6 pl-10 capitalize;
}
/* Grid: Title per box */
.gridModule {
    @apply transition-all ease-in delay-200 md:bg-powder md:hover:rounded-full;
}
/*EDITED */
.gridMImg {
    @apply  md:opacity-100 md:group-hover:opacity-0;
}
.mMargin {
    @apply md:-mt-72 md:pb-8 md:pt-2.5 ;
}
/*EDITED */
.gridtitleBox{
    @apply /* pt-3 md:-mt-2 px-10 md:px-28 text-center w-full */ mt-2 md:-mt-4 w-full text-center opacity-100 md:z-40 md:opacity-0 md:group-hover:opacity-100;
}
.gridTitle, .gridClient {
    @apply font-favorit text-base text-black md:text-black font-light;
}
.gridItalic {
    @apply font-times text-center py-1 text-lg mx-2 text-black md:text-black;
}

.infoBoxWL {
    @apply w-full text-center;
}

.catWL {
    @apply w-full pt-2 md:pt-28 pb-10 md:pb-9 md:mb-0.5 flex flex-row justify-center overflow-auto gap-2 capitalize font-times opacity-100 md:opacity-0 md:group-hover:opacity-100 text-black text-lg;
}

.paragraphStyle {
    @apply text-xs uppercase;
}

/* Project Sheet */
.projectCopy {
    @apply pb-10 bg-energy pt-5 ;
}

.credits {
    @apply font-goodsans text-xs py-4 mx-auto text-center w-full;
}

.videoCont {
    @apply mx-0 md:mx-72 mt-0 md:py-5;
}

.storyCont {
    @apply grid grid-cols-3 mx-0 md:mx-80 md:-mt-5 md:pb-5;
}


.titleBox{
    @apply flex flex-row inline-flex w-full mx-0 md:px-0 md:mt-20 md:py-2 justify-center text-center;
}
.mainTitle, .mainClient {
    @apply  leading-normal font-goodsans text-3xl;
}
.mainItalic {
    @apply font-times pt-1.5 text-3xl mx-4;
}

/* Footer */

.footerBox {
    @apply /* pt-10 pb-10 */ w-full text-center font-favorit font-light text-base;
}


.portableText {
    @apply py-5 w-8/12 mx-auto text-center text-xl font-favorit font-light;
}

.portableText p::before {
    content: " ";
    white-space: pre;
}

.portableText a {
 @apply underline;
}
/* About Page */

.PageCont {
    @apply m-auto px-40 my-52 font-favorit;
}
.PageBio a{
    @apply underline;
}

.PageCont p::before {
    content: "  ";
    white-space: pre;
}

.BioPortableText {
    @apply py-5 mx-auto text-left text-base font-favorit font-light;
}

.BioPortableText p::before {
    content: " ";
    white-space: pre;
}

.BioPortableText a {
 @apply underline;
}