@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */
@font-face {
    font-family: 'favorit';
    src: url('../fonts/Favorit_Light.ttf');
  }

  @font-face {
    font-family: 'goodsans';
    src: url('../fonts/GoodSans-Light.otf');
  }

  @font-face {
    font-family: 'times';
    src: url('../fonts/TimesNow-SemiLightItalic.ttf');
  }

.hide {
    display: none;
}

.show:hover + .hide {
    display: inline;
}

/* main header style*/
.headerStyle {
    @apply font-goodsans text-5xl py-4;
}  

/* Respnsive Navigation */
.RespNavWrap {
    @apply z-40 flex md:hidden;
}

.toggleMenu {
    @apply z-40 w-full bg-gradient-to-t from-white to-transparent text-5xl font-goodsans m-auto text-center pb-4 fixed inset-x-0 bottom-0 md:hidden;
}

.RespNavbar {
    @apply z-40 absolute bg-white w-full text-5xl font-goodsans flex h-screen list-none capitalize; 
}

.RespOptions{
    @apply  flex flex-col my-auto pl-10 gap-4;
}

.RespClose {
    @apply fixed bottom-0 z-40 w-full text-center pb-4 text-5xl md:hidden;
}
/* Desktop Navigation */
.navWrap {
    @apply flex z-40 md:h-0;
}

.navbar {
    @apply hidden md:inline-flex z-40 m-auto gap-9 md:bg-gradient-to-t md:from-white md:to-transparent pb-4 md:fixed md:inset-x-0 md:bottom-0 w-full mx-0 px-4 md:flex-row justify-between list-none capitalize text-5xl font-goodsans;
}
.active-link {
    @apply underline;
}

/* Components */

.videoStyle {
    @apply inline w-full px-72 -mt-28 ;
}

.storyStyle {
    @apply mt-10 mb-10 w-full aspect-[9/16];
}


.portableText {
    @apply  bg-emerald-100 -mt-32 pt-20 pb-10 w-8/12 mx-auto text-center text-xl font-favorit font-light;
}

.tagsTitle {
    @apply pr-2 text-xs pt-2 font-favorit font-light;
}
.categoriesPost {
    @apply w-full justify-center flex flex-row text-xl font-times;
}

p.RoleStyle {
    @apply uppercase text-xl font-favorit font-light;
}

PersonStyle {
    @apply text-sm font-favorit font-light;
}


/* Work List Grid on home */
.workList {
    @apply grid grid-cols-1 md:px-10 md:grid-cols-3;
}
.workListTitle {
    @apply text-sm font-goodsans py-6 pl-10 capitalize;
}
/* Grid: Title per box */
.gridModule {
    @apply transition-all ease-in delay-200 md:bg-pink-200 md:hover:rounded-full;
}
/*EDITED */
.gridMImg {
    @apply  md:opacity-100 md:group-hover:opacity-0;
}
.mMargin {
    @apply md:-mt-72 md:pb-8 md:pt-2.5 ;
}
/*EDITED */
.gridtitleBox{
    @apply pt-3 md:-mt-2 px-10 md:px-28 flex flex-row justify-center text-center w-full opacity-100 md:z-40 /* md:-mt-44 md:pb-9 md:pt-0 */ md:opacity-0 md:group-hover:opacity-100;
}
.gridTitle, .gridClient {
    @apply font-favorit text-base text-black font-light;
}
.gridItalic {
    @apply font-times pt-1.5 text-lg mx-2 text-black;
}

.infoBoxWL {
    @apply w-full text-center;
}

.catWL {
    @apply w-full pt-2 md:pt-28 pb-10 md:pb-12 flex flex-row justify-center overflow-auto gap-2 capitalize font-times opacity-100 md:opacity-0 md:group-hover:opacity-100 text-black text-lg;
}

.paragraphStyle {
    @apply text-xs uppercase;
}

/* Project Sheet */
.titleBox{
    @apply flex flex-row inline-flex bg-emerald-100 w-full justify-center pt-10;
}
.mainTitle, .mainClient {
    @apply font-goodsans text-5xl;
}
.mainItalic {
    @apply font-times pt-1.5 text-5xl mx-4;
}

/* Footer */

.footerBox {
    @apply pt-20 pb-10 w-full text-center font-favorit font-light text-base;
}